@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", serif;
}

header {
  background: white;
  height: 117px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 72px;
  padding-right: 72px;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-size: 14px;
  font-weight: 600;
}
header ul li {
  margin-left: 14px;
  margin-right: 14px;
}
header ul li a {
  text-decoration: none;
  color: #1b1b1b;
}
header ul li .btn {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
}
header ul li .black-btn {
  background-color: #1b1b1b;
  color: white;
}
header ul li .white-btn {
  background-color: white;
  color: black;
  border-color: #1b1b1b;
  border-width: 2px;
  border-style: solid;
}

.hero {
  margin-left: 72px;
  margin-right: 72px;
  background-color: #102364;
  display: flex;
  padding: 64px;
  justify-content: center;
  align-items: center;
  height: 469px;
}
.hero .text-content {
  width: 685px;
  height: 218px;
  text-wrap: wrap;
}
.hero .text-content h1 {
  font-weight: 900;
  font-size: 64px;
  color: white;
  line-height: 60px;
}
.hero .text-content p {
  font-weight: 900;
  font-size: 18px;
  color: white;
  line-height: 25px;
  margin-top: 5px;
}

.creative-bar {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5em;
}
.creative-bar .creative-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 318px;
}
.creative-bar .creative-left .timeline-container {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
}
.creative-bar .creative-left .timeline-container .timeline-box {
  width: 62px;
  height: 62px;
  background-color: #CCCFDB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-width: 1px;
  border-color: #CCCFDB;
  border-style: solid;
  border-radius: 5px;
}
.creative-bar .creative-left .timeline-container .timeline-box .digit-box {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  align-items: center;
}
.creative-bar .creative-left .timeline-container .timeline-box .text-box {
  font-weight: 600;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #848484;
}
.creative-bar .creative-left .date-time {
  font-weight: 900;
  font-size: 18px;
}
.creative-bar .creative-left p {
  font-weight: 600;
  font-size: 15px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}
.gallery #gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 3em;
}
.gallery #gallery-container .gallery-item {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.gallery #gallery-container .gallery-item img {
  border-radius: 5px;
}
.gallery #gallery-container .gallery-item p {
  font-weight: 700;
  font-size: 18px;
}
.gallery #gallery-container .gallery-item div {
  font-weight: 700;
  font-size: 18px;
}
.gallery a {
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  width: 285px;
  height: 70px;
  display: flex;
  margin-top: 3em;
  justify-content: center;
  align-items: center;
  color: #F13E5D;
  background-color: #EDEDED;
  border-width: 1px;
  border-color: #1C1C1D;
  border-style: solid;
  border-radius: 5px;
}
.gallery a:hover {
  border-bottom: 5px #1C1C1D solid;
}/*# sourceMappingURL=style.css.map */