*{
    margin: 0;
    padding: 0;  
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

body{
    font-family: "Roboto", serif;
}
header{
    background: white;
    height: 117px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
    
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        font-size: 14px;
        font-weight: 600;

        li{
            margin-left: 14px;
            margin-right: 14px;

            a{
                text-decoration: none;
                color: #1b1b1b;
            }

            .btn{
                padding-top: 14px;
                padding-bottom: 14px;
                padding-left: 32px;
                padding-right: 32px;
                font-size: 16px;
            }

            .black-btn{
                background-color: #1b1b1b;
                color: white;
            }

            .white-btn{
                background-color: white;
                color: black;
                border-color: #1b1b1b;
                border-width: 2px;
                border-style: solid;
            }
        }
    }
}



.hero{
    margin-left: 72px;
    margin-right: 72px;
    
    background-color: #102364;
    display: flex;
    padding: 64px;
    justify-content: center;
    align-items: center;
    height: 469px;

    .text-content{
        width: 685px;
        height: 218px;
        text-wrap: wrap;

        h1{
            font-weight: 900;
            font-size: 64px;
            color: white;
            line-height: 60px;
        }
    
        p{
            font-weight: 900;
            font-size: 18px;
            color: white;
            line-height: 25px;
            margin-top: 5px;
        }
    }

    
}

.creative-bar{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    .creative-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 318px;
        .timeline-container{
            display: flex;
            gap: 1em;
            justify-content: flex-start;

            .timeline-box{
                width: 62px;
                height: 62px;
                background-color: #CCCFDB;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-width: 1px;
                border-color: #CCCFDB;
                border-style: solid;

                border-radius: 5px;


                .digit-box{
                    font-weight: 700;
                    font-size: 24px;
                    display: flex;
                    justify-content: center;
                    padding-top: 10px;
                    align-items: center;
                }
                .text-box{
                    font-weight: 600;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    color: #848484;
                }
            }
            
        }
        .date-time{
            font-weight: 900;
            font-size: 18px;
            
        }
        p{
            font-weight: 600;
            font-size: 15px;
        }


    }

}



     

.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;


    #gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 3em;

        .gallery-item{
            text-align: justify;
            display: flex;
            flex-direction: column;
            
            gap: 1em;
            img{
                border-radius: 5px;
            }
            p{
                font-weight: 700;
                font-size: 18px;
            }
            div{
                font-weight: 700;
                font-size: 18px
            }
        }
        
    }
    a{
        text-decoration: none;
        font-weight: 800;
        font-size: 20px;
        width: 285px;
        height: 70px;
        display: flex;
        margin-top: 3em;
        justify-content: center;
        align-items: center;
        color: #F13E5D;
        background-color: #EDEDED;
        border-width: 1px;
        border-color: #1C1C1D;
        border-style: solid;
        border-radius: 5px;
    }
    a:hover{
        border-bottom: 5px #1C1C1D solid;

    }
}



   
.promo-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffe44d;
    border-radius: 15px;
    padding: 30px 20px 60px;
    margin-top: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.promo-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #0c2431;
    clip-path: ellipse(50% 60% at 50% 100%);
}

.title {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    color: #f04d7a;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.highlight-strip {
    background-color: #ffcc00;
    padding: 8px 15px;
    width: fit-content;
    transform: rotate(-2deg);
    font-size: 50px;
    font-weight: 900;
    transform: rotate(-2deg);
}

.description {
    max-width: 60%;
    color: #0c2431;
    font-size: 34px;
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hashtags {
    color: #0c2431;
    font-weight: bold;
}

.announcement {
    color: #f04d7a;
}

.duck-image {
    width: 370px;
    height: 370px;
}

.cta-button {
    width: 350px;
    /* Position at the intersection */
    padding: 15px;
    background-color: #f04d7a;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    transition: background-color 0.3s;
    z-index: 10; 
    justify-self: flex-end;
}

.content-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 961px;
    width: 100vw;
    background-color: #0B2A2B;

    h1{
        font-weight: 900;
        font-size: 64px;
        color: white;
    }

    form{
        width: fit-content;
        height: 91px;
        display: flex;
        align-items: center;
        padding: 10px;
        border: #626262 3px solid;
        input{
            background-color: rgba(255,255,255, 0);
            outline: none;
            border: none;
            font-weight: 700;
            font-size: 16px;
        }
        button{
            outline: none;
            height: 100%;
            width: fit-content;
            font-weight: 800;
            font-size: 30px;
            padding: 10px;
            background-color: #F13E5D;
        }
    }
}

